# .NET Core
bin/
obj/
*.dll
*.pdb
*.exe

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build Results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleasePublic/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio / Visual Studio Code
.vs/
.vscode/settings.json
.vscode/tasks.json
.excludedir/
.vscode/extensions.json

# Visual Studio Code Launch
.vscode/launch.json

# Visual Studio Cache files
# files ending in .cache can be ignored
*.[Cc]ache
*.vsconfig

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in - see http://www.jetbrains.com/resharper
_ReSharper*/
*.[Rr]e[Ss]harper.org

# TeamCity is a build add-in - see http://www.jetbrains.com/teamcity
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Coverlet is a free, cross platform Code Coverage Tool
coverage*.json
coverage*.xml
coverage*.info

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NDepend is a Code Analysis Tool - see http://www.ndepend.com
NDependOut.*

# RustRover (instantiated from JetBrains Rider)
.idea/
*.iws
*.iml
*.ipr

# JetBrains Rider
.idea/
*.dotSettings.user

# JetBrains ReSharper SDK
_ReSharper.Caches/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
.vbw

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# CodeRush personal settings
.cr/personal

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI analysis results
OpenCover/

# Azure Stream Analytics local run output
ASALocalRun/

# MSBuild Binary and Structured Log
*.binlog

# NVidia Nsight GPU debugger configuration file
*.nvuser

# MFractors (Xamarin productivity tool) working folder
.mfractor/

# Local History for Visual Studio
.localhistory/

# BeatPulse healthcheck temp database
healthchecksdb

# Backup folder for Package Reference Convert tool in Visual Studio 2017
MigrationBackup/

# Ionide (cross platform F# VS Code tools) working folder
.ionide/

# Fody - auto-generated XML schema
FodyWeavers.xsd

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Windows Thurderbird
*Thunderbird*

# Windows Installer files from build outputs
*.cab
*.msi
*.msix
*.msm
*.msp

# JetBrains Rider
.idea/
*.sln.iml

# MongoDB for Unity log file
unity.mongo.log

# VS Code character encoding
.vscode/encodings.json

# Roslyn v0.7 whole-solution error list report
*.rpt

# Diagnostic data for JetBrains Rider
_riderService/

# Docker
Dockerfile*
docker-compose*
.dockerignore
.DS_Store  # macOS
Thumbs.db  # Windows